    <footer class="footer ">

        <div class="container text-center ">
            <small class="copyright ">Built by <a href="http:littlefurnace.com" target="_blank ">Evan Genest</a> at Little Furnace.  Styling extends the <i>devAid</i> theme from <a href="https://themes.3rdwavemedia.com " target="_blank ">Xiaoying Riley</a> at 3rdWaveMedia.</small>
        </div>
        <!--//container-->
    </footer>
