<div class=" text-center">
    <h1 class="title">zum<span class="promo highlight">tum</span></h1>

    <ul class="meta list-inline">
        <li class="list-inline-item">
            <a href="index.html" target="_self">
                Home  
            </a>
        </li>

        <li class="list-inline-item">
            <a href="https://evan-von-scuuter.gitbook.io/zuntum/" target="_self">
                Instructions  
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://zumtum.weebly.com/" target="_self">
                Swag
            </a>
        </li>
    </ul>
    <div id="instructions-place"></div>
<!--//meta -->
</div>

