<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="./public/favicon.ico" >
        <title>{% block title %} Zumtum {% endblock %}</title>

        {% block assets %}
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <link href="{{ asset('css/cornell.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/theme-2.css') }}" rel="stylesheet"/>
        {% endblock %}

    </head>
    <body>
    <header>
        {% block header %}HEADERRRRRRRR{% endblock %}
    </header>

        {% block content %}CONTENTCONTENTCONTENT{% endblock %}

        {% block footer %}
            {{ include('common/_footer.html.twig') }}
        {% endblock %}
    </body>


</html>


